
.container {
  width: 100vw;
  height: 100vh;
  color: var(--font-color);
  background-color: var(--background-color);
}

.header, .h2 {
  display: flex;
  justify-content: center;
  font-size: 3.4rem;
  width: 100%;
  max-height: 4rem;
}

.header {
  border-bottom: var(--border);
}

.h2 {
  font-size: 2.2rem;
  margin: .5rem;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column {
  flex: 1;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.comments {
  width: 70%;
  height: 90%;
}

.commentBody {
  height: 90%;
  border: var(--border);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.wrap {
  border: var(--border);
  width: 80%;
  height: 50%;
}

.iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.twitchTrue, .twitchFalse {
  padding: 1rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: var(--font-color) dashed .1rem;
  font-weight: bold;
}

.twitchFalse {
  color: red;
}

.twitchTrue {
  color: green;
}

.h3 {
  font-size: 1.4rem;
  margin: .4rem;
}